:root {
    --Vermelho: #8C2A2A;
    --VermelhoBackground: #651F1F;
    --Amarelo: #F8F8D8;
    --Marrom: #C29181;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login {
    display: flex;
    width: 100%;
    height: 100vh;
}

.conteiner-login {
    width: 50%;
    background-color: var(--VermelhoBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Tela de carregamento ajustada ao centro da tela */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
}


.conetudo-login {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 75px;
    text-align: left;
}

.conetudo-login img {
    max-width: 180px;
    margin-bottom: 60px;
}

.conetudo-login h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Amarelo);
}

.p-title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
    color: var(--Amarelo);
}


.conetudo-login form {
    display: flex;
    flex-direction: column;
}

.error-message, .success-message {
    text-align: right;
    font-size: 0.8rem;
    color: var(--Amarelo);
}

.conetudo-login button {
    margin-top: 35px;
    background: transparent;
    border: 2px solid var(--Amarelo);
    color: var(--Amarelo);
    border-radius: 5px;
    width: 50%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.1s ease;
}

.conetudo-login button:hover {
    box-shadow: 0 0 25px 0 var(--Vermelho); 
    border: 2.5px solid var(--Amarelo);
}

.img-login {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* garante que a imagem preencha a área sem distorcer */
}

.logo-background {
    z-index: 1;
    position: absolute;
    max-width: 100px;
    right: 0;
    margin-right: 50px;
    margin: 0 20px 20px 0;
    bottom: 0;
}