:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --Marrom: #C29181;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden; /* Impede rolagem no body */
    background-color: pink;
}

aside {
    background-color: var(--Vermelho);
    width: 300px; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 20px;
    box-sizing: border-box;
}

.highlight {
    background-color: var(--Amarelo);
    width: 10px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
}

.logo img {
    width: 200px;
    height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav{
    margin-top: 5vw;
}

nav li {
    margin-bottom: 25px;
}

nav li img {
    margin-right: 25px;
    opacity: 50%;
}

nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--Marrom);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

nav li a.active {
    color: var(--Amarelo);
}

nav li a.active img {
    opacity: 100%;
}

.saida {
    text-decoration: none;
    justify-content: center;
    margin-top: 5vw;
}

.saida li{
    list-style-type: none;
}

.saida a {
    text-decoration: none;
    color: var(--Amarelo);
    display: flex;
    align-items: center;
}

.saida img {
    opacity: 100%;
    margin-right: 25px;
}
