:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --VermelhoOpacidade: #C28989;
}

.botao{
   width: 180px;
   height: 55px;
   border-radius: 50px;
   border: none;
   background-color: var(--Vermelho);
   font-size: 10px;
   color: var(--Amarelo);
   align-items: center;
   cursor: pointer;
}

.botao:hover {
    opacity: 90%;
}