:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --VermelhoOpacidade: #C28989;
}

.botao{
   width: 15vw;
   height: 3.906vw;
   border-radius: 2.604vw;
   border: none;
   background-color: var(--Vermelho);
   font-size: 0.7vw;
   color: var(--Amarelo);
   align-items: center;
   cursor: pointer;
}

.botao:hover {
    opacity: 90%;
}