.clientes{
    /* overflow-y: auto; */ /* permite a rolagem */
    display: flex;
    width: 100%;
}

.conteudo-clientes {
    margin-left: 25%; 
    width: 75%; 
    padding: 50px 40px; 
}   

.header-clientes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}