:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --Rosa: #F8E8E8;
    --VermelhoOpacidade: #C28989;
}

.search {
    background-color: var(--Rosa);
    position: relative; 
    display: flex; 
    width: 45vw;
    height: 3.906vw;
    border-radius: 2.604vw;
    align-items: center;
    padding-left: 1.823vw;
    margin: 0 1.7vw 0 1.7vw;
}

.search input {
    background: transparent;
    box-sizing: border-box;
    border: 0;
    outline: none;  
    width: 80%;
    color: rgba(140, 42, 42, 1);
}

.search img{
    width: 3vw;
    margin-left: 5%;
}

.search ::placeholder{
    color: var(--VermelhoOpacidade);
    font-weight: bold;
}

h1 {
    font-family: "Poppins", sans-serif;
}