:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --Rosa: #F8E8E8;
    --Marrom: #C28989;
}

.prazos {
    overflow-y: auto;
    display: flex;
    width: 100%;
    height: 100vh; 
}

.conteudo-prazos {
    flex-grow: 1; /* Permite que o conteúdo cresça */
}

.conteudo-prazos {
    margin-left: 25%; 
    width: 75%; 
    padding: 50px; 
}   

.header-prazos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clientes-emprestimo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin-top: 100px;
    gap: 30px 40px;
}

.card-prazo {
    background-color: var(--Rosa);
    border-left: 8px solid var(--Vermelho);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 10px 15px 25px;
    font-weight: 700;
    margin-bottom: 30px;
    align-self: start;
    font-size: 0.8rem;
}

.card-prazo p {
    color: var(--Marrom);
}

.card-prazo hr {
    margin: 20px 0;
    height: 2px;
    border: 0;
    background-color: var(--Marrom);
}

.card-prazo h3 {
    color: var(--Vermelho);
    font-size: 1.1rem;
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;   
    width: 200px;
}

.card-prazo h4 {
    color: var(--Vermelho);
}

.card-prazo li {
    color: var(--Marrom);
    margin-top: 5px;
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;   
    width: 200px;
}

.detalhes {
    color: var(--Marrom);
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 0.75rem;
}

.emprestimo {
    color: var(--Vermelho);
    margin-top: 25px;
}

.entrega {
    color: var(--Vermelho);
}

.devolucao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devolucao h5 {
    color: var(--Vermelho);
}

.devolucao button {
    border: 0;
    background-color: transparent;
}

.devolucao img{
    width: 35px;
}

.btn-escolha {
    display: flex;
}

.btn-escolha button {
    cursor: pointer;
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -18px;
}

.status-icon {
    width: 70px;
    display: flex;
    justify-content: end;
    position: relative;
    left: 10px;
    bottom: 30px;
}