:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --Rosa: #F8E8E8;
    --Marrom: #C29181;
}

.prazos {
    overflow-y: auto;
    display: flex;
    width: 100%;
    height: 100vh; 
}

.conteudo-prazos {
    flex-grow: 1; /* Permite que o conteúdo cresça */
}

.conteudo-prazos {
    margin-left: 25%; 
    width: 75%; 
    padding: 50px; 
}   

.header-prazos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clientes-emprestimo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin-top: 100px;
    gap: 30px 40px;
}

.card-prazo {
    background-color: var(--Rosa);
    border-left: 8px solid var(--Vermelho);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 15px 30px 15px 25px;
    font-weight: 700;
    color: var(--Marrom);
    margin-bottom: 30px;
    font-size: 0.8rem;
}

.card-prazo h3 {
    color: var(--Vermelho);
    font-size: 1.1rem;
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;   
    width: 200px;
}

.detalhes {
    color: var(--Marrom);
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.emprestimo {
    color: var(--Vermelho);
    margin-top: 5px;
}

.entrega {
    color: var(--Vermelho);
}