.prazos {
    overflow-y: auto;
    display: flex;
    width: 100%;
    height: 100vh; 
}

.conteudo-prazos {
    flex-grow: 1; /* Permite que o conteúdo cresça */
}

.conteudo-prazos {
    margin-left: 25%; 
    width: 75%; 
    padding: 50px; 
}   

.header-prazos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}