:root {
    --Vermelho: #8C2A2A;
    --VermelhoBackground: #651F1F;
    --Amarelo: #F8F8D8;
    --Marrom: #C29181;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Emprestimo {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* Impede o overflow do container principal */
}

.container-Emprestimo {
    width: 50%;
    background-color: var(--VermelhoBackground);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;

}

.container-Emprestimo::-webkit-scrollbar {
    width: 8px; 
}
.container-Emprestimo::-webkit-scrollbar-track {
    background: transparent; 
}
.container-Emprestimo::-webkit-scrollbar-thumb {
    background: transparent; 
}

.form-emprestimo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conteudo-Emprestimo {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 75px;
    text-align: left;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Amarelo);
    margin-top: 5vw;
}

.p-Title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
    color: var(--Amarelo);
}

.img-Emprestimo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
}


.buttons {
    display: flex;
}


.img-cad {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.logo-background {
    z-index: 1;
    position: absolute;
    max-width: 100px;
    right: 0;
    margin-right: 50px;
    margin: 0 20px 20px 0;
    bottom: 0;
}