.livraria {
   /*  overflow-y: auto; */
    display: flex;
    width: 100%;
}

.conteudo-livraria {
    margin-left: 25%; 
    width: 75%; 
    padding: 50px; 
    overflow-y: auto;
    height: 100vh;
}

.header-livraria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

