:root {
    --Vermelho: #8C2A2A;
    --Amarelo: #F8F8D8;
    --Marrom: #C29181;
    --Rosa: #F8E8E8;
}

.livraria {
   /*  overflow-y: auto; */
    display: flex;
    width: 100%;
}

.conteudo-livraria {
    margin-left: 25%; 
    width: 75%; 
    padding: 50px 50px 50px 50px; 
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    height: 100vh;
}

.header-livraria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8vw;
    transition: width 0.3s ease;
}

.header-livraria.detalhes-abertos {
    width: calc(100% - 220px); /* Reduz a largura apenas quando os detalhes estão abertos */
}

.livro {
    margin: 1rem 0 1rem 0;
    width: 20.5%;
    height: 25%;
    cursor: pointer;
}

.livro-titulo {
    font-size: 1rem;
    color: var(--Vermelho);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livro-imagem {
    width: 100%;
    height: 100%;
}

.categoria {
    margin-bottom: 2vw; /* Espaçamento entre categorias */
    width: 100%;
}

.cat-titulo {
    font-size: 1.3rem;
    color: var(--Vermelho);
}

.cat-width {
    width: 50%;
}

.flex-cat {
    display: flex;
    width: 100%;
}

.maisbtn{
    background: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
    float: right;
    color: var(--Vermelho);
}

.livros {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    width: 100%; /* Ocupa a largura total por padrão */
    transition: width 0.3s ease; /* Transição suave */
}

.detalhes-livro {
    position: fixed;
    top: 0;
    right: 0;
    flex: 1;
    max-width: 250px; 
    height: 100%; 
    padding: 20px;
    background-color: var(--Rosa);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detalhes-livro h2{
    text-align: left;
    color: var(--Vermelho);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.detalhes-livro h3 {
    font-weight: 700;
    color: var(--Vermelho);
    margin-bottom: 20px;
    overflow: hidden;            
    text-overflow: ellipsis;   
    width: 60%;
}

.img-livro  {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.top-detalhes {
    display: flex;
    justify-content: space-between;
}

.exit {
    cursor: pointer;
    height: 18px;
    /* margin-left: 140px; */
}

.detalhes-livro a {
    background-color: var(--Vermelho);
    color: var(--Amarelo);
    border-radius: 10px;
    border: 0;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.detalhes-livro a:hover {
    opacity: 90%;
}

.title-detalhe{
    font-weight: 700;
}

.livros.detalhes-abertos {
    width: calc(100% - 230px); /* Aplica apenas quando os detalhes estão abertos */
}